.image-card:hover .image {
  transform: scale(125%);
  z-index: 11;
}

.image-card .image {
  animation: fadeIn .5s 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(4px);
  }

  100% {
    opacity: 1;
  }
}
