.flash-text {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  animation: flash 0.6s ease 1;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  30% {
    opacity: .7;
  }

  100% {
    opacity: 0;
  }
}
